* {
    box-sizing: border-box;
}
.categoria span{
    color: grey;
    font-size: smaller;
    margin: 0;
    padding: 0;
}

/* div.category-container{
    margin: 30vh 10vw;
} */
div.categoria {
    margin: 15px 7.5px;
    width: 50vw;
    /* height: vh; */
    border: #F3F1ED 1px solid;
    border-radius: 15px;
    box-shadow: var(--box-shadow);  
    cursor: pointer;
}
div.categoria:active {
    border: var(--primary) 1px solid;
}
div.cat-seleccionada{
    box-shadow: 3px 3px 5px rgb(128, 128, 128);
}

.categoria .card-img-top {
    width: 100%;
    border-radius: 15px 15px 0 0;
}


.categoria div.card-body {
    height: 20%;
    /* bottom: 0; */
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.categoria .card-body h2 {
    font-size: 20px;
    line-height: 23px;
}

/*Desktop*/
@media screen and (max-width: 1200px) {
    div.categoria {
        height: 300px;
    }

}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .d-flex {
        flex-wrap: wrap;
    }

    div.categoria {
        height: 32vh;
        width: 45%;
    }
}

/*Tablet personalizada*/
@media screen and (min-width: 539px) and (max-width: 721px) {
    div.card.categoria {
        height: 34vh;
    }
}

/*Mobile*/
@media screen and (min-width: 414px) and (max-width: 767px) {
    div.categoria {
        padding: 0 0 10% 0;
        width: 100%;
        border-color: yellowgreen;
    }

    div.categoria .card-body {
        display: flex;
        margin-top: 10px;
    }

    .categoria img.card-img-top {
        height: 100%;
        width:100%;
        padding: 0 0 1% 0;
    }

    .categoria .card-body h2 {
        text-align: center;
        word-wrap: normal;
    }

    .categoria .card-body .card-text {
        display: none;
    }


}
/*Mobile más pequeño*/
@media screen and (min-width: 359px) and (max-width: 767px) {
    div.categoria {
        height: 25vh;
    }
    .categoria .card-img-top {
        height:max-content;
        /* width:100%; */
    }
    div.categoria div.card-body{
        padding: 3%;
    }

    .categoria .card-body h2 {
        text-align: center;
        word-wrap: normal;
    }

    .categoria .card-body .card-text {
        display: none;
    }
}