.footer{
    background-color: var(--primary);
    width: 100%;
    height: 8%;
    position:fixed;
    /* margin-top: 20px; */
    left:0px;
    bottom:0px;
    color: white;
}
footer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:larger;
    height: 100%;
}

.iconFooter{
    cursor: pointer;
}