




/* Estilos exclusivos los formulario de login */

.input-login{
    width: 448px;
}




/* Estilos compartidos entre formularios */

.tittle-form{
    font-size: 24px;
    line-height: 28px;
    color: var(--primary);
}



div.d-flex label{
    color: var(--secondary);
    margin: 12px 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.ms-2 {
    margin-left: 12px !important;
}
  
.flex{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    background-color: var(--quaternary);
}
  
.form-container{
    width: 448px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.parrafoCreateLogIn{
    text-align: center;
    font-weight: 500;
    margin-top: 18px;
    font-size: 12px;
    line-height: 14px;
}

#link{
    color: blue;
    cursor: pointer;
}

.input{
    padding-left: 14px;
}
