.btn-border-primary {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-border-primary:hover {
    background-color: var(--primary);
    color: white;
}

.image-container {
    width: 60px;
    height: 60px;
    padding-left: 11px;
}

.collapse {
    display: flex;
    height: 100vh;
}

.logo{
    cursor: pointer;
}

.container-buttons{
    display: flex;
    justify-content: space-between;
}

.session-manager{
    display: none;
}

.in-phone{
    display: none;
}

@media (width < 662px){
    .container-buttons{
        display: none;
    }

    .session-manager{
        display: inline;
    }

    .in-phone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}
