.myNavbar {
    background-color: var(--tertiary);
    color: white;
}

input {
    padding-left: 2rem;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

input {
    font-size: 14px;
}

.iconInput {
    position: relative; 
}

.icon {
    position: absolute;
    font-size: x-large;
    display: block;
    bottom: 0.2rem;
    color: var(--tertiary);
    user-select: none;
    cursor: pointer;
}

.iconCalender {
    left: 1rem;
}

.iconLocation {
    left: 0.5rem;
}

/*Desktop*/
@media screen and (min-width: 1200px) {

    div.title-product h1{
        font-size: 2.5vh;
    }

    div.title-product h3 {
        font-size: 1.5vh;
        text-transform: uppercase;
    }


    div#product div.my-navbar.myNavbar.d-flex.flex-row.align-items-center.justify-content-between.pt-3.pb-3 {
        padding: 0 3% 0 3%;
        height: 3.5%;
    }

    div#product div.back.d-flex.justify-content-center.allign-items-center svg {
        width: 70%;
        height: 100%;
    }

    div.location-prod {
        display: flex;
        padding: 3vh 1.5vh;
    }

    div.location-prod svg {
        font-size: 4vh;
        margin-top: 0.25%;
        padding: 0 1vh 0 0;
    }

    div.location-prod h2, div.location-prod p {
        font-size: 2vh;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #titulo-navbar{
        margin: 0 40px 0;
        text-align: center;
    }

    div.title-product h1{
        font-size: 2.5vh;
    }

    div.title-product h3 {
        font-size: 1.5vh;
        text-transform: uppercase;
    }


    div#product div.my-navbar.myNavbar.d-flex.flex-row.align-items-center.justify-content-between.pt-3.pb-3 {
        padding: 0 3% 0 3%;
        height: 3.5%;
    }

    div#product div.back.d-flex.justify-content-center.allign-items-center svg {
        width: 70%;
        height: 100%;
    }

    div.location-prod {
        display: flex;
        padding: 3vh 1.5vh;
    }

    div.location-prod svg {
        font-size: 3vh;
        justify-content: center;
        padding: 0 1vh 0 0;
        margin-top: 1vh;
    }

    div.location-prod h2, div.location-prod p {
        font-size: 2.5vh;
    }
}

/*Tablet personalizada*/
@media screen and (min-width: 539px) and (max-width: 721px) {
    #titulo-navbar{
        margin: 0 40px 0;
        text-align: center;
    }

    div.title-product h1{
        font-size: 3vh;
    }

    div.title-product h3 {
        font-size: 2vh;
        text-transform: uppercase;
    }


    div#product div.my-navbar.myNavbar.d-flex.flex-row.align-items-center.justify-content-between.pt-3.pb-3 {
        padding: 0 3% 0 3%;
        height: 3.5%;
    }

    div#product div.back.d-flex.justify-content-center.allign-items-center svg {
        width: 70%;
        height: 100%;
    }

    div.location-prod {
        display: flex;
        padding: 3vh 1.5vh;
    }

    div.location-prod svg {
        font-size: 4vh;
        justify-content: center;
        padding: 0 1vh 0 0;
    }

    div.location-prod h2, div.location-prod p {
        font-size: 2.5vh;
    }
}

/*Mobile*/
@media screen and (min-width: 414px) and (max-width: 767px) {
    #titulo-navbar{
        text-align: center;
        font-size: 30px;
    }

    div.title-product h1{
        font-size: 2.5vh;
    }

    div.title-product h3 {
        font-size: 1.75vh;
        text-transform: uppercase;
    }

    div.image-container {
        width: 15vh;
        height: 7.5vh;
    }

    div.logo {
        font-size: 1.5vh;
    }

    div#product div.my-navbar.myNavbar.d-flex.flex-row.align-items-center.justify-content-between.pt-3.pb-3 {
        padding: 0 3% 0 3%;
        height: 3.5%;
    }

    div#product div.back.d-flex.justify-content-center.allign-items-center svg {
        width: 70%;
        height: 100%;
    }

    div.location-prod {
        display: flex;
        padding: 3vh 1.5vh;
    }

    div.location-prod svg {
        font-size: 4vh;
        justify-content: center;
        padding: 0 1vh 0 0;
    }

    div.location-prod h2, div.location-prod p {
        font-size: 2vh;
    }
}

/*Mobile más pequeño*/
@media screen and (min-width: 359px) and (max-width: 767px) {
    #titulo-navbar{
        text-align: center;
        font-size: 30px;
    }

    div.title-product h1{
        font-size: 2.5vh;
    }

    div.title-product h3 {
        font-size: 1.75vh;
        text-transform: uppercase;
    }

    div.image-container {
        width: 15vh;
        height: 7.5vh;
    }

    div.logo {
        font-size: 1.5vh;
    }

    div#product div.my-navbar.myNavbar.d-flex.flex-row.align-items-center.justify-content-between.pt-3.pb-3 {
        padding: 0 3% 0 3%;
        height: 3.5%;
    }

    div#product div.back.d-flex.justify-content-center.allign-items-center svg {
        width: 70%;
        height: 100%;
    }

    div.location-prod {
        display: flex;
        padding: 3vh 1.5vh;
    }

    div.location-prod svg {
        font-size: 4vh;
        justify-content: center;
        padding: 0 1vh 0 0;
    }

    div.location-prod h2, div.location-prod p {
        font-size: 2vh;
    }
}
