.pol-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
}

.pol-grid .grid-item {
    margin: 2vh 1vw;
    width: 20vw;
}
.grid-item .icono{
    display: inline-block;
    margin-right: 4px;
    color: var(--primary);
}

.pol-ul{
    padding: 0 0 0 1.2vw;
    height: 95%;
    width:inherit;
}

.pol-item{
    /* list-style: none; */
    padding-left: .5vw;
    word-wrap: normal;
}

/* @media screen and (max-width: 810px) {
    .pol-grid {
        grid-template-columns: auto auto ;
    }
    .grid-item{
        margin: 2vh auto;
    }
}
@media screen and (max-width: 428px) {
    .char-grid {
        grid-template-columns: auto auto ;
    }
} */

/*Desktop*/
@media screen and (max-width: 1200px) {}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #elem-politicas{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
}

/*Mobile*/
@media screen and (min-width: 414px) and (max-width: 767px) {
    #elem-politicas{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    div.d-flex.flex-row.justify-content-around.align-items-center {
        display:flex;
        flex-direction: column;
    }
}