.pol-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
}

.pol-grid .grid-item {
    margin: 2vh 1vw;
    width: 20vw;
}
.grid-item .icono{
    display: inline-block;
    margin-right: 4px;
    color: var(--primary);
}

.pol-ul{
    padding: 0 0 0 1.2vw;
    height: 95%;
    width:inherit;
}

.pol-item{
    /* list-style: none; */
    padding-left: .5vw;
    word-wrap: normal;
}

/* @media screen and (max-width: 810px) {
    .pol-grid {
        grid-template-columns: auto auto ;
    }
    .grid-item{
        margin: 2vh auto;
    }
}
@media screen and (max-width: 428px) {
    .char-grid {
        grid-template-columns: auto auto ;
    }
} */

/*Desktop*/
@media screen and (min-width: 1200px) {
    div.pol-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    #elem-politicas{
        list-style-type: none;
        padding: 0 0 2% 0; 
        font-size: medium;
}
    #titulo-politicas {
        padding: 4% 0 4% 3%;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    div.pol-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:20%;
        width: 100%;
        justify-content: center;
    }
    #elem-politicas{
        display: flex;
        list-style-type: none;
        padding: 0 0 1% 0; 
        font-size: medium;
}
    #titulo-politicas {
        padding: 4% 0 4% 3%;
    }
}

/*Mobile*/
@media screen and (min-width: 414px) and (max-width: 767px) {
    div.pol-grid{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    #elem-politicas{
        list-style-type: none;
        padding: 2% 0 2% 0; 
        font-size: medium;
}
    #titulo-politicas {
        padding: 4% 0 4% 1.5%;
    }
}