div#galery {
    margin: 0 0 0 3.5vw;
    padding: 0;
    width: 92.3vw;
    /* height: 80vh; */
}
#open-galery{
    /* border: solid red 1px; */
    height: 5%;
    cursor: pointer;
    position:absolute;
    bottom: -95px;
    right: 80px;
}
#open-galery span{
    color: var(--quaternary);
    text-decoration: underline;
}

.left-side {
    height: 100%;
    width: 50%;
    padding: 3.5vh 0;
}
.left-side img{
    width: 100%;
    border-radius: 2%;
}

.rigth-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.1vh 0;
}

.rigth-side img {
    border-radius: 3%;
    margin: auto;
    height: 45%;
    width: 45%;
}
.icono{
    font-size: x-large;
    cursor: pointer;
}
