* {
    box-sizing: border-box;
}

div.producto {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 630px;
    height: 250px;
    border: #F3F1ED 1px solid;
    border-radius: 15px;
    box-shadow: var(--box-shadow);

}

.producto img.card-img-top {
    border-radius: 15px 0 0 15px;
    width: 50%;
}

.producto .card-body {
    padding: 15px 20px;
    width: 50%;
    height: 250px;
    

}

.producto .title {
    font-size: large;
    margin-bottom: 3%;
}

.producto .category {
    font-size: medium;
    margin-bottom: 3%;
}

.producto .location {
    font-size: small;
    margin-bottom: 3%;
}

.producto .description {
    margin-bottom: 3%;
    display: inline-block;
    width: 100%;
    height: 40%;
    font-size: xx-small;
    text-align: justify;
    overflow-y: auto;
}

div.producto div.card-body .btn-primary {
    height: 16%;
    width: 90%;
    margin-left: 5%;
}

@media screen and (min-width: 1400px) {
    div.producto {
        margin: .1vw .3vw;
        width: 47.2vw;
    }
}
@media screen and (max-width: 1331px) {
    div.producto {
        /* height: 50vh; */
        margin: .1vw;
        width: 47.2vw;
    }
}

@media screen and (max-width: 1060px) {
    div.producto {
        margin: 3vh auto ;
        height: auto;
        width: 90%;
    }
}
@media screen and (max-width: 584px) {
    div.producto {
        margin: 3vh auto;
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 90%;
    }
    div.producto img.card-img-top{
        width:100%;
    }
    div.producto .title{
        text-align: center;
    }
    div.producto .description{
        display: none;
    }
    div.producto .card-body{
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        height: fit-content;
    }
}

/*Desktop*/
@media screen and (min-width: 1200px) {
    div.producto .card-text {
        height: 30%;
    }
}

/*Tablet*/
@media screen and (max-width: 900px) {
    div.producto .card-text {
        height: 30%;
    }
}

/*Mobile*/
@media screen and (min-width: 414px) and (max-width: 767px) {
    div.producto .category,div.producto .location{
        text-align: center;
    }
    div.producto img.card-img-top{
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

}
/*Mobile más pequeño*/
@media screen and (min-width: 359px) and (max-width: 767px) {
    div.producto img.card-img-top{
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
}
