div#galery {
    padding: 0;
    width: 92.3vw;
    /* height: 80vh; */
}
#open-galery{
    /* border: solid red 1px; */
    height: 5%;
    cursor: pointer;
    position:absolute;
    bottom: 30px;
    right: 20px;
    bottom: 5vh;
    right: 1.5vw;
}
#open-galery span{
    color: var(--quaternary);
    text-decoration: underline;
    font-weight: bold;
}
#mobile-carrusel{
    display: none;
}
.left-side {
    height: 100%;
    width: 50%;
    padding: 3.5vh 0;
}
.left-side img{
    width: 100%;
    border-radius: 2%;
}

.rigth-side {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.1vh 0;
}

.rigth-side img {
    border-radius: 3%;
    margin: auto;
    height: 45%;
    width: 45%;
}
.icono{
    font-size: x-large;
    cursor: pointer;
}

@media screen and (max-width: 810px) {
    div#galery{
        display: none;
    }
    #mobile-carrusel{
        display: block;
        margin: 1vh 0;
        width: 100;
        height: fit-content;
    }
    #mobile-carrusel img{
        border-radius: 2%;
    }
}