* {
    box-sizing: border-box;
}

div.producto {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 630px;
    height: 250px;
    border: #F3F1ED 1px solid;
    border-radius: 15px;
    box-shadow: var(--box-shadow);

}

.producto img.card-img-top {
    border-radius: 15px 0 0 15px;
    width: 50%;
}

.producto .card-body {
    padding: 15px 20px;
    width: 50%;
    height: 250px;

}

.producto .title {
    font-size: large;
}

.producto .category {
    font-size: medium;
}

.producto .location {
    font-size: small;
}

.producto .description {
    font-size: xx-small;
    text-align: justify;
}

div.producto div.card-body .btn-primary {
    height: 16%;
    width: 90%;
    margin-left: 5%;
}

@media screen and (max-width: 1331px) {
    div.producto {
        margin: .1vw;
        width: 47.2vw;
    }
}

@media screen and (max-width: 1060px) {
    div.producto {
        margin: 3vh auto ;
        height: auto;
        width: 90%;
    }
}