div#navbarNuevoProducto{
    background-color: var(--tertiary);
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 3rem;
    padding-right: 3rem;
}
div#divContenedorPoliticas{
    display:flex;
    flex-direction: row;
}
div#cardProductoFormulario{
    width:95%;
    margin:auto;
    margin-bottom: 100px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h2#tituloProductoFormulario{
    padding:1.5rem;
    font-weight: 600;
}
legend#fieldsetProductoFormulario{
    font-weight: 800;
}
div#volverProductoFormulario{
    font-size: 3rem;
    color: white;
}