div#product{
    height: 200vh;
}
.bi-chevron-left{
    cursor: pointer;

}
.myNavbar{
    height: 16vh;
    padding: 0 3vw; 
}
.myNavbar h3{
    margin: 0;
    font-size: larger;
}
.myNavbar h1{
    margin: 0;
    font-size: xx-large;
}


.location{
    padding: 1.5vh 3vw;
    height: 10vh;
    background-color: var(--quaternary);
}
.location h2{
    margin: 0;
}

#description{
    padding: 0 3vw; 
    width: 100%;
}
.description-text{
    text-align: justify;
    /* padding: 0 1vw; */
}

#charact{
    padding: 0 3vw; 
    width: 100%;
}

hr.char-hr{
    border-top: 5px double var(--secondary);
}