.reserva-container {
    background-color: var(--quaternary);
    height: 140vh;
}

div#detalleReserva{
    position: absolute;
    
    height: 110.72vh;
    left: 67.13%;
    right: 2.93%;
    top: 40.66%;
    bottom: -42.96%;
    background-color: white;

}

div#horaLlegada{
    margin-left: 5%;
}

div#resPolitica{
    height: 60vh;

}

/* div#formReserva{
    position: absolute;
    left: 3.15%;
    right: 34.85;
    top: 21.11%;

} */