/* .reserva-container {
    background-color: var(--quaternary);
    height: 140vh;
}

div#detalleReserva{
    position: absolute;
    
    height: 110.72vh;
    left: 67.13%;
    right: 2.93%;
    top: 40.66%;
    bottom: -42.96%;
    background-color: white;

}

div#horaLlegada{
    margin-left: 5%;
}

div#resPolitica{
    height: 60vh;

} */

/* div#formReserva{
    position: absolute;
    left: 3.15%;
    right: 34.85;
    top: 21.11%;

} */

/*Vic*/
* {
    box-sizing: border-box;
}
#form {
    background-color: var(--quaternary);
}

h2.create-acount {
    color: var(--secondary);
    margin: 3vh 0 0 9.5vh;
}

div#reservaForm.flex div.producto {
    padding: 3vh;
}

div#reservaForm{
    padding: 3vh;
    margin: 0 6vh;
    width: 100vh;
}

div#detalleReserva{
    padding: 3%;
}


.wrapper {
    display: grid;
}
.one {

}
.two {

}
.three {

}
.four {

}
.five {

}