div#reservaHora{
    position: relative;
    height: 400%;
    left: 2.93%;
    right: 35.07%;
    top: 105.41%;
    bottom: -42.96%;
    background-color: white;

}

/* .checkCicle{
    position: absolute;
    left: 2.83%;
    right: 94.33%;
    top: 13.19%;
    bottom: 70.14%;

} */

.iconoCheck{
    position: absolute;
    left: 6.26%;
    right: 26.09%;
    top: 16.67%;
    bottom: 64.58%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #383B58
}

.horario{
    position: absolute;
    left: 2.95%;
    right: 71.31%;
    top: 42.36%;
    bottom: 43.06%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.horaInput {
    position: absolute;
    left: 2.95%;
    right: 51.24%;
    top: 59.03%;
    bottom: 13.19%;
}