div#detalleReserva{
    position: absolute;
    left: 67.13%;
    right: 2.93%;
    top: 35.66%;
    bottom: -42.96%;
    background-color: white;

}

div#imgdetalle{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 8.57%;
    bottom: 54.71%;
    
}

