div#prodexitosa-container{
    height: 90vh;
    background-color: var(--quaternary)

}

.templateproducto text-center{
    width: 18rem;
    
}

.templprod-body{
    position: absolute;
    width: 638px;
    height: 302px;
    left: 364px;
    top: 233px;
    background-color: white;
}