div.user-info{
    width: 13vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 20px;
    
}



div.user-info span, .user-info-mobile span{
    font-weight: bold;
    color: var(--tertiary);
}

.user-info-mobile span{
    color: white;
}

div.user-info div.user-logo, div.user-info-mobile div.user-logo{
    border: solid 3px var(--secondary);
    /* background-color: var(--secondary); */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}



div.user-info div.user-logo span, div.user-info-mobile div.user-logo span{
    color: var(--secondary);
    font-weight: bolder;
    font-size: larger;
}

div.user-info span.user-name, div.user-info-mobile span.user-name{
    color: var(--secondary);
    font-weight: bolder;
    font-size: large;
    text-transform: capitalize;
}

#cierre-session{
    position:absolute;
    top: 10%;
    right: 1%;
}

/*Estilos Mobiles*/

div.user-info-mobile div.user-logo{
    border: solid 3px white;
    background-color: white; 
}

div.user-info-mobile{
    text-align: end;
}