div.user-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 20px;
}

a#btn-admin {
    margin: 0 2vh;
    font-size: smaller;
}

a#btn-admin:hover {
    color: var(--tertiary);
} 

div.user-info span, .user-info-mobile span{
    font-weight: bold;
    color: var(--tertiary);
}

.user-info-mobile span{
    color: white;
}

div.user-info div.user-logo, div.user-info-mobile div.user-logo{
    border: solid 3px var(--secondary);
    /* background-color: var(--secondary); */
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

div.user-info div.user-logo span, div.user-info-mobile div.user-logo span{
    color: var(--secondary);
    font-weight: bolder;
    font-size: larger;
}

div.user-info span.user-name, div.user-info-mobile span.user-name{
    color: var(--secondary);
    font-weight: bolder;
    font-size: large;
    text-transform: capitalize;
}

#cierre-session{
    position:absolute;
    top: 10%;
    right: 1%;
}

/*Estilos Mobiles*/

div.user-info-mobile div.user-logo{
    border: solid 3px white;
    background-color: white; 
}

div.user-info-mobile{
    text-align: end;
}
/*Desktop*/
@media screen and (min-width: 1200px) {
    #info-us {
        margin-left: 2vh;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    div.user-info{
        margin: auto 1vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #logo-us.user-logo {
        width: 50px;
        height: 50px;
    }

    #info-us {
        margin-left: 2vh;
    }
}

/*Tablet personalizada*/
@media screen and (min-width: 539px) and (max-width: 721px) {

}
