div#prodexitosa-container{
    height: 90vh;
    background-color: var(--quaternary)

}

.templateproducto text-center{
    width: 18rem;
    
}

.templprod-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 638px;
    height: 302px;
    background-color: white;
}

div#textoproducto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}