:root {
  /* ------------------------------ opcionPrevia ------------------------------ */
  --primary: #FBC02D;
    --secondary: #263238;
    --tertiary: #607D8B;
    --quaternary: #FFFBE2;
  /* ------------------------------- alternativa 1------------------------------ */
  --primary: #5e9387;
  --secondary: #0a493d;
  --tertiary: #8fc79a;
  --quaternary: #cee9b6;
  /* ------------------------------- alternativa 2------------------------------ */
  --primary: #1dccc1;
  --secondary: #1b2c38;
  --tertiary: #515E63;
  --quaternary: #e6f6fc;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body{
  height: fit-content;
}
.list-title{
  margin-left: 1.5vw;
}
.display-none{
  display: none;
}
.bg-primary,
.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.btn-primary:hover {
  background-color: var(--primary) 0.1
}

.btn {
  vertical-align: none !important;
}

div#home {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 300vh;
}

.input-search {
  /* width: 422px; */
  width: 30vw;
}

input {
  height: 40px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-lg {
  height: 40px;
  width: 204px;
  font-size: 16px;
  font-weight: 700;
}

.navbar-toggler {
  display: none;
}

@media screen and (max-width: 900px) {
  div#home {
    height: 500vh;
  }
}

@media screen and (max-width: 770px) {

  div.form-container {
    height: fit-content;
    justify-content: center;
  }

  #logInForm,
  #registreForm {
    justify-content: center;
    height: 200vh;
    padding-top: 25%;
  }

  div.category-container div.d-flex {
    flex-wrap: wrap;
  }

  div.d-flex div.categorias {
    width: 45vw;
    height: 40vh;
    margin: 10px 0;
  }
}
@media screen and (max-width: 631px) {
  div#home {
    height: 590vh;
  }
}


@media screen and (max-width: 588px) {
  div#home {
    height: 610vh;
  }
  form {
    flex-direction: column;
  }

  .searchContainer {
    width: 100%;
  }

  form.d-flex {
    width: 100%;
  }

  form.d-flex div,
  form.d-flex button {
    margin: 5px 0 !important;
    width: 85%;
  }

  form.d-flex div>input {
    margin: 0 !important;
    width: 100%;
  }

  form .iconCalender {
    left: 5px;
  }
}

@media screen and (max-width: 452px) {

  .navbar-toggler {
    display: block;
    height: 15%;
  }

}